html {
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.result{
    font-size: 22px;
    
}

h1 {
    color: #738ECC;
    font: 50px Libre Baskerville;
}

label {
    font-style: italic;

}

.container {
    background: #D3DCEE;
    border-radius: 10px;
}

.container-c {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form_radio_btn {
	display: inline-block;
	margin-right: 10px;
}
.form_radio_btn input[type=radio] {
	display: none;
}
.form_radio_btn label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	border-radius: 6px;
	user-select: none;
}


.form_radio_btn input[type=radio]:checked + label {
	background: #766df3;
}
 

.form_radio_btn label:hover {
	color: #666;
}
 

.form_radio_btn input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}

hr {
    margin-left: 0;
    width: 500px;
    background: rgb(22, 3, 105);
}